.containerFooter {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);
  }
  
  .titleFooter {
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    color: white;
  }
  